<?xml version="1.0"?>
<config>
  <modules>
    <Mfp_OrderTrack>
      <version>1.0.0</version>
    </Mfp_OrderTrack>
  </modules>
  <frontend>
    <routers>
      <ordertrack>
        <use>standard</use>
          <args>
            <module>Mfp_OrderTrack</module>
            <frontName>ordertrack</frontName>
          </args>
      </ordertrack>
    </routers>
		<layout>
		  <updates>
			<ordertrack>
			  <file>ordertrack.xml</file>
			</ordertrack>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <ordertrack>
        <class>Mfp_OrderTrack_Helper</class>
      </ordertrack>
    </helpers>
	<blocks>
	  <ordertrack>
		<class>Mfp_OrderTrack_Block</class>
	  </ordertrack>
	</blocks>
  </global>
  <adminhtml>
	<menu>
	  <ordertrack module="ordertrack">
		<title>Ordertrack</title>
		<sort_order>100</sort_order>
		<children>
		  <ordertrackbackend module="ordertrack">
			<title>Settings</title>
			<sort_order>0</sort_order>
			<action>adminhtml/system_config/edit/section/ordertrack_section</action>
		  </ordertrackbackend>
		</children>
	  </ordertrack>
	</menu>
    <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <ordertrack_section translate="title" module="ordertrack">
                                        <title>Ordertrack</title>
                                        <sort_order>100</sort_order>
                                    </ordertrack_section>
                                </children>
                            </config>
                        </children>
                    </system>
                 </children>
            </admin>
        </resources>
    </acl>
	<layout>
	  <updates>
		<ordertrack>
		  <file>ordertrack.xml</file>
		</ordertrack>
	  </updates>
	</layout>
  </adminhtml>
</config> 